<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            Virgo Tutorial
        {% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="css/style.css">
    {% endblock %}
</head>
<body>
<div class="wrapper">
    <div id="content" class="content">
        Content
        {% block content %}
        {% endblock %}
    </div>
    <div id="errors" class="errors">
      Errors  {% block content %}
        {% endblock %}
    </div>
    <div id="notices" class="notices">
        Notices{% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>
