::-webkit-scrollbar {
    display: none;
}

html {
    font-family: "sans-serif";
    background-color: #131315;
    position: fixed;
    left: 10%;
    right: 10%;
    top: 0;
    bottom: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: #272831;
    text-align: center;
}

div.wrapper {
    background: -webkit-linear-gradient(#ffffff, #4cb0fe);
    background: -o-linear-gradient(#ffffff, #4cb0fe);
    background: -moz-linear-gradient(#ffffff, #4cb0fe);
    background: linear-gradient(#ffffff, #4cb0fe);
    padding-top: 5px;
    padding-bottom: 15px;
    height: 100%;
    margin: auto;
    width: 80%;
    min-width: 400px;
    text-align: center;
    overflow: scroll;
}

div.content {
    background: -webkit-linear-gradient(#343852, #272831);
    background: -o-linear-gradient(#343852, #272831);
    background: -moz-linear-gradient(#343852, #272831);
    background: linear-gradient(#343852, #272831);
    text-align: center;
    padding: 25px 0px 15px 0px;
    margin-top: 10px;
    color: #ffffff;
}

div.post {
    background: -webkit-linear-gradient(#343852, #272831);
    background: -o-linear-gradient(#343852, #272831);
    background: -moz-linear-gradient(#343852, #272831);
    background: linear-gradient(#343852, #272831);
    text-align: left;
    padding: 5px 20px 15px 20px;
    margin-top: 10px;
    color: #ffffff;
}

div.errors {
    background: -webkit-linear-gradient(#c50001, #5e0003);
    background: -o-linear-gradient(#c50001, #5e0003);
    background: -moz-linear-gradient(#c50001, #5e0003);
    background: linear-gradient(#c50001, #5e0003);
    text-align: center;
    margin-top: 10px;
    padding: 15px 0 15px 0;
    color: #ffffff;
}

p.postTitle {
    border-bottom: solid #252a3c 1px;
    font-size: large;
    color: #9cccff;
    padding-bottom: 5px;
}

p.postContent {
    font-size: small;
    padding-left: 10px;
    padding-bottom: 5px;
}

p.postAuthor {
    border-top: solid #1f2535 1px;
    color: #9cccff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: small;
    text-align: right;
    padding-top: 5px;
}

a.postActions {
    color: #ff8946;
    text-decoration: none;
    font-style: normal;
    padding: 0 5px 0 0;
}
